.p-product-single__image {
    .main {
        padding: 30px;
        background-color: $light;
        margin-bottom: 30px;
        border: 1px solid $border;
        .item {
            height: 360px;
        }
    }
    .sub {
        .item {
            height: 75px;
            padding: 8px;
            margin: 0 8px;
            background-color: $light;
            border: 1px solid $border;
            cursor: pointer;
        }
    }
    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}