.p-sidebar {
    padding: 2em 1.4em;
    border: 1px solid $border;
    background-color: $light;
    th {
        font-weight: 300;
        max-width: 60%;
        overflow: hidden;
        word-break: break-word;
        padding-left: 1.2em;
        position: relative;
        &::before{
            content: "・";
            position: absolute;
            left: 0;
        }
    }
    .price {
        text-align: right;
        padding: .5em 1em;
    }
    h4 {
        font-size: 1rem;
    }
}